#container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 3px;
  width: 1024px;
  height: 600px;
}

body {
  margin: 0;
  background-color: black;
}

.tile {
  border-radius: 3px;
  opacity: 0.4;
}

.populatedTile {
  border-radius: 3px;
  opacity: 1;

  h2 {
    margin-top: 0;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
    color: white;
  }
}

.singleTile {

}

.imageTile {
  position: relative;

  h2 {
    position: absolute;
  }

  img {
    width: 202px;
    height: 195px;
  }
}

.centerflex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

input[type=checkbox] + label {
  background-image: url("/img/fan.png");
  height: 32px;
  width: 32px;
  padding: 0 0 0 0px;
  opacity: 0.3;
}

input[type=checkbox]:checked + label {
  background-image: url("/img/fan.png");
  height: 32px;
  width: 32px;
  padding: 0 0 0 0px;
  opacity: 1;
}

@mixin singleTile($column: 1, $row: 1) {
  grid-column: $column #{'/'} $column + 1;
  grid-row: $row #{'/'} $row + 1;
}

@mixin horizontal($column: 1, $row: 1) {
  grid-column: $column #{'/'} $column + 2;
  grid-row: $row #{'/'} $row + 1;
}

@mixin vertical($column: 1, $row: 1) {
  grid-column: $column #{'/'} $column + 1;
  grid-row: $row #{'/'} $row + 2;
}

@mixin quad($column: 1, $row: 1) {
  grid-column: $column #{'/'} $column + 2;
  grid-row: $row #{'/'} $row + 2;
}

@for $j from 0 through 5 {
  @for $i from 0 through 9 {
    [class~="#{$i}_#{$j}"] {
      @include singleTile($column: $i + 1, $row: $j + 1)
    }
  }
}

@for $j from 0 through 5 {
  @for $i from 0 through 8 {
    [class~="h_#{$i}_#{$j}"] {
      @include horizontal($column: $i + 1, $row: $j + 1)
    }
  }
}

@for $j from 0 through 4 {
  @for $i from 0 through 9 {
    [class~="v_#{$i}_#{$j}"] {
      @include vertical($column: $i + 1, $row: $j + 1)
    }
  }
}

@for $j from 0 through 4 {
  @for $i from 0 through 5 {
    [class~="q_#{$i}_#{$j}"] {
      @include quad($column: $i + 1, $row: $j + 1)
    }
  }
}