<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edgar Dashboard</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <div id="container">
            <div :class="['tile', tile.clazz]" :style="{ backgroundColor: tile.color }" v-for="tile in processedTiles">
                <toggle v-if="tile.deviceType == 'toggle'"
                        v-bind:tile="tile" v-bind:device="devices[tile.deviceId]"
                        v-bind:endpoint="devices[tile.deviceId].endpoints[tile.endpointId]">
                </toggle>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/components.js}"></script>
    <script type="text/javascript" th:src="@{/js/tiles.js}"></script>
    <script>
        Vue.component('toggle', {
            props: ['tile', 'device', 'endpoint'],
            template: `
                <div class="singleTile">
                    <h2>{{ endpoint != null ? endpoint.name : (device != null ? device.name : "") }}</h2>
                    <input type="checkbox" @change="$root.sendCommand(device, endpoint)"/>
                </div>
            `
        })

        // TODO: Style the "toggle" os it works like a button

        // TODO: Rework the devices endpoint so it returns data like in example devices (keyed) or do that on client side
        // TODO: How to update devices state periodically?
        // TODO: Grey-out a device that went down but is expected to be on dashboard

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    devices: {
                        "test": {
                            "id": "test",
                            "name": "Just a test",
                            "ip": "localhost",
                            "endpoints": {
                                "toggle": {
                                    "name": "Toggle",
                                    "path": "/toggle",
                                    "method": "POST"
                                }
                            }
                        }
                    },
                    dashboard: null,
                    processedTiles: [],
                    testDevices: [
                        {
                            "name": "Test device #1",
                            "endpoints": [
                                {
                                    "name": "Basic speed",
                                    "type": "basic"
                                }
                            ]
                        }
                    ],
                    testLayout: [
                        {
                            "x": 2,
                            "y": 2,
                            "type": "horizontal"
                        },
                        {
                            "x": 4,
                            "y": 3,
                            "type": "quad"
                        },
                        {
                            "x": 7,
                            "y": 2,
                            "type": "vertical"
                        }
                    ]
                }
            },
            mounted() {
                let promises = [];
                promises.push(
                    axios.get('http://' + window.location.host + '/dashboards/' + window.location.pathname.split('/')[2])
                        .then(response => {
                            this.dashboard = response.data;
                        }),
                    axios.get('http://' + window.location.host + '/devices')
                        .then(response => {
                            //this.devices = response.data;
                        })
                );

                Promise.all(promises).then(() => {
                    if (this.dashboard.tiles != null) {
                        this.processedTiles = fillTiles(this.dashboard.tiles, 10, 6);
                        console.log(this.processedTiles);
                        // placeTiles(fillTiles(this.dashboard.tiles, 10, 6));
                        // randomizeColors();
                        // if (this.devices != null) {
                        //     populateTiles(this.dashboard, this.devices);
                        // }
                    }
                });
            },
            methods: {
                sendCommand: function (device, endpoint) {
                    console.log(endpoint)
                    axios.post("http://" + window.location.host + "/devices/" + device.id + endpoint.path)
                }
            }
        });
    </script>

</body>
</html>