<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edgar Dashboard</title>
    <link th:href="@{main.css}" rel="stylesheet" />
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    {{ devices }}

    <div class="switch">
        <input type="checkbox">
        <label><i></i></label>
    </div>

    <div v-for="device in devices" class="device">
        <h1>{{ device.name }}</h1>
        <div v-for="endpoint in device.endpoints" class="endpoint">
            <button v-on:click="sendCommand(device, endpoint)">{{ endpoint.path }}</button>
            <span>{{ endpoint.description }}</span>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                devices: null
            }
        },
        mounted() {
            axios
                .get('http://' + window.location.host + '/devices')
                .then(response => (this.devices = response.data))
        },
        methods: {
            sendCommand: function (device, endpoint) {
                console.log(endpoint)
                axios.post("http://" + window.location.host + "/devices/" + device.name + endpoint.path)
            }
        }
    })
</script>
</body>
</html>
