<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edgar Dashboard</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div id="container">
            <div :class="[tile.deviceType === 'none' ? 'tile' : 'populatedTile', tile.clazz]" :style="{ backgroundColor: tile.color }" v-for="tile in processedTiles">
                <toggle v-if="tile.deviceType == 'toggle'"
                        v-bind:tile="tile" v-bind:device="devices[tile.deviceId]" v-bind:responses="deviceResponses[tile.deviceId]">
                </toggle>
                <cam-single-image v-if="tile.deviceType == 'cam-single-image'"
                        v-bind:tile="tile" v-bind:device="devices[tile.deviceId]">
                </cam-single-image>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/js/components.js}"></script>
    <script type="text/javascript" th:src="@{/js/tiles.js}"></script>
    <script>
        Vue.component('toggle', {
            props: ['tile', 'device', 'responses'],
            data: function() {
                return {
                    id: this.device.id
                }
            },
            computed: {
                deviceEnabled: {
                    get: function() {
                        return this.$root.deviceResponses[this.id] ? (this.$root.deviceResponses[this.id]['/isEnabled'] ? this.$root.deviceResponses[this.id]['/isEnabled'] === "true" : false) : false
                    },
                    set: function(newValue) {

                    }
                }
            },
            template: `
                <div class="singleTile populatedTile">
                    <h2>{{ tile.name != null ? tile.name : (device != null ? device.name : "") }}</h2>
                    <div class="centerflex">
                        <input v-bind:id="'toggleCheckbox_' + device.id" style="display: none" type="checkbox" @change="$root.sendCommand(device, '/toggle')" v-model="deviceEnabled"/>
                        <label v-bind:for="'toggleCheckbox_' + device.id"></label>
                    </div>
                </div>
            `
        })

        Vue.component('cam-single-image', {
            props: ['tile', 'device'],
            template: `
                <div class="imageTile populatedTile">
                    <h2>{{ tile.name != null ? tile.name : (device != null ? device.name : "Blurb") }}</h2>
                    <img v-if="this.$parent.deviceResponses[device.id] != null" v-bind:src="this.$parent.deviceResponses[device.id]['/pic']">
                </div>
            `
        })

        // TODO: Grey-out a device that went down but is expected to be on dashboard
        // TODO: Instead of params.enabled use endpoints[] for source of truth
        // TODO: Suppress errors that are appearing when devices disappears
        // TODO: Cleanup
        // TODO: Remove layouts
        // TODO: Implement proper logging
        // TODO: Cleanup backend
        // TODO: BUG: Device gets removed if it doesn't return "enabled": "true" in status response - but that should only indicate if a device is toggled? Doesn't make sense for the cam
        // TODO: Cache the image server-side?
        // TODO: Remove interval when no device present for it
        // TODO: Disconnecting a device causes issues when calls are still made to it - introduce a short timeout and/or circuit breaker?

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    devices: {},
                    dashboard: null,
                    processedTiles: [],
                    deviceResponses: {},
                    testImg: "",
                    tileProcessIntervalDataFuncs: {
                        "cam-single-image": {
                            "/pic": function (response) {
                                console.log("Processing response for cam-single-image, /pic endpoint");
                                console.log(response)
                                if (response.headers["Content-Length"] === "0")
                                    return;
                                var bytes = new Uint8Array(response.data);
                                var binary = bytes.reduce((data, b) => data += String.fromCharCode(b), '');
                                return "data:image/jpeg;base64," + btoa(binary);
                            }
                        },
                        "toggle": {
                            "/isEnabled": function (response) {
                                console.log("Processing response for toggle, /isEnabled endpoint")
                                console.log("Response that we got")
                                console.log(response)
                                console.log("Output is: " + response.data.enabled)
                                return response.data.enabled
                            }
                        }
                    },
                    intervalCheckups: {},
                    intervals: {},
                    testDevices: {
                        "basementCamGas": {
                            "id": "basementCamGas",
                            "name": "Gas usage monitor",
                            "ip": "192.168.0.133",
                            "endpoints": [
                                {
                                    "path": "/pic",
                                    "method": "POST",
                                    "type": "default",
                                    "params": []
                                }
                            ],
                            "status": {
                                "responsive": true,
                                "params": {
                                    "enabled": "true"
                                },
                                "endpoints": {
                                    "/pic": {
                                        "enabled": "true"
                                    }
                                }
                            }
                        }
                    },
                    testLayout: [
                        {
                            "x": 2,
                            "y": 2,
                            "type": "horizontal"
                        },
                        {
                            "x": 4,
                            "y": 3,
                            "type": "quad"
                        },
                        {
                            "x": 7,
                            "y": 2,
                            "type": "vertical"
                        }
                    ]
                }
            },
            mounted() {
                console.log("ON MOUNTED")
                let promises = [];
                promises.push(
                    axios.get('http://' + window.location.host + '/dashboards/' + window.location.pathname.split('/')[2])
                        .then(response => {
                            this.dashboard = response.data;
                        }),
                    axios.get('http://' + window.location.host + '/devices')
                        .then(response => {
                            this.devices = processDevices(response.data);
                            //this.devices = this.testDevices;
                            // console.log("DEVICES:");
                            // console.log(this.devices);
                        })
                );

                Promise.all(promises).then(() => {
                    if (this.dashboard.tiles != null) {
                        this.processedTiles = fillTiles(this.dashboard.tiles, 10, 6);
                        // console.log("PROCESSED TILES")
                        // console.log(this.processedTiles)

                        handleIntervalChecks(this.processedTiles, this.devices, this.intervalCheckups, this.intervals,
                            this.tileProcessIntervalDataFuncs, this.deviceResponses);
                    }

                    setInterval(() => {
                        axios.get('http://' + window.location.host + '/devices')
                            .then(response => {
                                this.devices = processDevices(response.data);
                                //this.devices = this.testDevices;
                                // console.log("DEVICES:");
                                // console.log(this.devices);

                                handleIntervalChecks(this.processedTiles, this.devices, this.intervalCheckups, this.intervals,
                                    this.tileProcessIntervalDataFuncs, this.deviceResponses);
                            })
                    }, 5000);
                });
            },
            methods: {
                sendCommand: function (device, endpointId, callback = () => {}) {
                    console.log("Sending command to " + device.id + endpointId)
                    for (const [key, endpoint] of Object.entries(device.endpoints)) {
                        if (endpoint.path === endpointId) {
                            axios.post("http://" + window.location.host + "/devices/" + device.id + endpoint.path)
                                .then((response) => {
                                    callback(response)
                                })
                        }
                    }

                }
            }
        });
    </script>

</body>
</html>